<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center three-quarters">
        <h1 class="topcoat-navigation-bar__title">Java Job</h1>
    </div>
	<!--
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button--quiet" ng-click="changeSettings()">
            <span class="topcoat-icon settings-icon"></span>
        </a>
    </div>-->

<div class="topcoat-list__container list">
  <!--  <h3 class="topcoat-list__header">Top Coder Python</h3>-->
    <ol class="topcoat-list">
        <li class="topcoat-list__item--first" ng-click="slidePage('/view8')">
            Android Unlock Pattern
        </li>
	
        <li class="topcoat-list__item" ng-click="slidePage('/view1')">
     
		  Decode String
		  
        </li>
		
		
        <li class="topcoat-list__item" ng-click="slidePage('/view2')">
            Bomb Enemy
		  
        </li>
		
        <li class="topcoat-list__item" ng-click="slidePage('/view3')">
           Missing Ranges
        </li>
		
		
		
        <li class="topcoat-list__item" ng-click="slidePage('/view4')">
            Number of Islands
        </li>
		
		
        <li class="topcoat-list__item" ng-click="slidePage('/view5')">
            Find the difference
        </li>
	
		
        <li class="topcoat-list__item" ng-click="slidePage('/view6')">
            Island Perimeter
        </li>
		
		
        <li class="topcoat-list__item" ng-click="slidePage('/view7')">
            Logger Rate limiter
        </li>
		
		
	  <li class="topcoat-list__item" ng-click="slidePage('/view9')">
		Regular Expression Matching
		
	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view10')">
	 
		Reverse Vowels of String

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view11')">

		Generalised Abbreviation
	  </li>
	  
	  
	  
	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view12')">
		Summary Ranges

	  </li>
	  
	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view13')">
		Merge Intervals
	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view14')">
	  Paint Fence

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view15')">
		Trapping Rain Water

	  </li>

	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view16')">
		Word Break
  </li>
	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view17')">
		Rotate Image

	  </li>   
	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view18')">
		Implement Sqrt(x)

	  </li>
	  
	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view19')">

		Implement Pow(x,n)

	  </li>

	 
	  <li class="topcoat-list__item" ng-click="slidePage('/view20')">

	  UTF-8 Validation
	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view21')">

      Number of 1 bits

	  </li>
	  

  

	  <li class="topcoat-list__item" ng-click="slidePage('/view22')">

		Sum of two integers

	  </li> 
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view23')">

	  Counting bits

	  </li> 

	 
	  <li class="topcoat-list__item" ng-click="slidePage('/view24')">

		Brick Game

	  </li>   
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view25')">

		Adding Reversed Numbers

	  </li>   
	  
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view26')">

	Archeological dielemma

	  </li>   
	  
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view27')">

		Average Speed

	  </li>   

	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view28')">

	 Basic Remains

	  </li>   


	  <li class="topcoat-list__item" ng-click="slidePage('/view29')">

	   High School physics

	  </li>   


	  <li class="topcoat-list__item" ng-click="slidePage('/view30')">

	   Integer Inquiry

	  </li>   
	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view33')">

		Big Mod

	  </li>   
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view34')">

		Digit Counting

	  </li>   
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view35')">

		Friends

	  </li>   
	  
	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view36')">
		
		500 hundred factorial
	  </li>


	  <li class="topcoat-list__item" ng-click="slidePage('/view37')">

		Psuedo prime numbers
		
	  </li>
	  


	  <li class="topcoat-list__item" ng-click="slidePage('/view38')">

		Coconuts revisted
	  </li>

	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view39')">

		Google is feeling lucky

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view40')">

	   High Precision Number

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view41')">

		News Paper

	  </li>
	  


	  <li class="topcoat-list__item" ng-click="slidePage('/view42')">

		Parity

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view43')">

		Simplifying fractions

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view44')">

        Jolly Jumpers

	  </li>
	  
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view45')">

        Very Easy

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view46')">

        Modex

	  </li>
	  
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view47')">

        Largest prime divisor

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view48')">

        Light more light

	  </li>

	  <li class="topcoat-list__item" ng-click="slidePage('/view49')">

        Multiple of seventeen

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view50')">

        Splitting numbers

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view51')">

          Ants

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view52')">

		Huge One

	  </li>
	  
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view53')">

	    Number Theory for newbies		
		</li>

	  <li class="topcoat-list__item" ng-click="slidePage('/view54')">

	     	Basically Speaking
	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view55')">
  
		   back to intermediate math
	  </li>

	  <li class="topcoat-list__item" ng-click="slidePage('/view56')">

		Last Non Zero Digit
	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view57')">

		Expression add operator
	  </li>

	  <li class="topcoat-list__item" ng-click="slidePage('/view58')">

		Kth largest element in array
	  </li>

	  <li class="topcoat-list__item" ng-click="slidePage('/view59')">

		Find the difference
	  </li>

	  <li class="topcoat-list__item" ng-click="slidePage('/view60')">

		island Perimeter
	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view61')">

		Roman Integer
	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view62')">

		Valid Palindrome
	  </li>
	  


	  <li class="topcoat-list__item" ng-click="slidePage('/view63')">

		One edit distance
	  </li>

	  <li class="topcoat-list__item" ng-click="slidePage('/view64')">

		Decode ways
	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view65')">
		
		Group Anagrams
		
		
	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view66')">

		Palindrome permutations


	  </li>
	  
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view67')">

		Search in reverse sorted array


	  </li>
	  
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view68')">

	   Two Sum


	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view69')">

		House Robber


	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view70')">

		Product of array except self


	  </li>
	  
	  


	  <li class="topcoat-list__item" ng-click="slidePage('/view71')">

		Count and say


	  </li>


	  <li class="topcoat-list__item" ng-click="slidePage('/view72')">

		Move Zeros


	  </li>
	  
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view73')">

		Paint house sell


	  </li>

	  


	  <li class="topcoat-list__item" ng-click="slidePage('/view74')">

		Sort Colors


	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view75')">

		Minimum size subarray sum


	  </li>
	  


	  <li class="topcoat-list__item" ng-click="slidePage('/view76')">

	   Strobogrammatic Number


	  </li>
	  
	  
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view77')">

		Multiply Strings


	  </li>
	  


	  <li class="topcoat-list__item" ng-click="slidePage('/view79')">

		Clone graph


	  </li>



	  <li class="topcoat-list__item" ng-click="slidePage('/view80')">

		Numbering Roads


	  </li>

	  
	  
    </ol>
	<!--
    <div class="topcoat-navigation-bar">
        <h1 class="centerize"  ng-show="!showURL" ng-swipe-left="showURL=true">Version  {{' %VERSION%' | interpolate}} </h1>
        <h1 class="centerize" ng-show="showURL" ng-swipe-right="showURL=false"><a href="http://devgirl.org">devgirl.org </a></h1>
    </div>
</div>
<!--
<ng-include src="'partials/settingsOverlay.html'"></ng-include>
-->
