<!DOCTYPE html>
<html>
<head>
<link href="prism.css" rel="stylesheet">
</head>
<body style="background-color:white;" >

<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
<div class="topcoat-navigation-bar__item left quarter">
<a class="topcoat-icon-button--quiet" ng-click="slidePage('/','modal')">
<span class="topcoat-icon home-icon"></span>
</a>
</div>
<div class="topcoat-navigation-bar__item center half">
<h1 class="topcoat-navigation-bar__title">Cake</h1>
</div>
</div>

<script type="text/javascript" src="prism.js"></script>

<pre  ng-prism  class="language-java"><code>





// You are given an n x n 2D matrix representing an image.

// Rotate the image by 90 degrees (clockwise).

// Follow up:
    // Could you do this in-place?

public class Solution {

    public void rotate(int[][] matrix) {
        
        for(int i = 0; i < matrix.length; i++) {
            
            for(int j = 0; j < i; j++) {
                
                int temp = matrix[i][j];
                matrix[i][j] = matrix[j][i];
                matrix[j][i] = temp;
                
            }
            
        }
        
        for(int i = 0; i < matrix.length; i++) {
            
            for(int j = 0; j < matrix[0].length / 2; j++) {
                
                int temp = matrix[i][j];
                matrix[i][j] = matrix[i][matrix[0].length - 1 - j];
                matrix[i][matrix[0].length - 1 - j] = temp;
                
            }
            
        }
        
    }

}



        </code></pre>
  </body>
</html>		
