<div class="Home" id="content">
    

  <div class="kit-dropdown-button closed">
	<div class="button" click-link="/keyframes3">
	  
	  3 sum example
	  
	  </div>

  </div>
  
  


  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes12">
	
	  Best time to buy and sell stock
	  </div>
  </div>
  
  <!--

  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes15">
  
	  Optional Example 1
	  
	  </div>
  </div>
  


  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes18">
	 
	  
	 Optional Example 2
	  
	  </div>
  </div>
 
  

  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes24">

	  Lock Example 1
	  

	</div>
  </div>
  
  
  
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes27"> 
	 Lock Example 2
	  
	  </div>
  </div>
  
  
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes30">
	  
	  Synchronised Example 1
	  
	  
	</div>
  </div>
  

  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes33">
	  Synchronised Example 2
	  
	  
	  </div>
  </div>
  
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes36">
  
	  Lambda Example 1
	</div>
	
  </div>
  
  
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes42">
  Lambda Example 2
	  
	</div>
	
	
  </div>
  
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes45">
	  
	 Lambda Example 3
	  
	  
	</div>
	
  </div>
 
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes48">
	 Executors Example 1
	</div>
	
  </div>
  
  
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes51">
	  Semaphore Example 1
  
  </div>
	
  </div>
  
  
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes54">
  
	  Executors example 2
  
	  
	  </div>
	
	
	
  </div>
	
  
  
  <div class="kit-dropdown-button">
  <div class="button" click-link="/keyframes57">
  
	Atomic Integer Example
	
  </div>
  </div>
  

  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes60">
  
	  Stream Example 3
  </div>
  </div>
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes63">
	  
	  
	  Stream Example 4
	</div>
  </div>
  
  
	
	<div class="kit-dropdown-button">
	  <div class="button"  click-link="/keyframes66">
  
		
		Stream example 5
		
		
	  
	  
	  
	</div>
  </div>
  
  
  
  <div class="kit-dropdown-button">
	<div class="button"  click-link="/keyframes69">
	  
  
	  Stream Example 6
	  
	</div>
  </div>
  
  
  <div class="kit-dropdown-button">
	<div class="button"  click-link="/keyframes72">

  What is bean auto wiring?
	</div>
  </div>
  <!--
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes75">
	  
  Explain different modes of auto wiring?
	  
	  </div>
  </div>
  
  
  <div class="kit-dropdown-button">
	
	
	<div class="button" click-link="/keyframes78">
	  
  What is Spring Java-Based Configuration? Give some annotation example.
	</div>
	
  </div>
  
  
  <div class="kit-dropdown-button"  >
	
	<div class="button" click-link="/keyframes81">
	
  What is Annotation-based container configuration?
  
	
	</div>
	
  </div >
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes84">
	  
  How can JDBC be used more efficiently in the Spring framework?
  
	</div>
	
	
	
  </div>
  
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes87" > 
  Spring DAO support
	  
	  
	  </div>
	
  </div>
  
  
  <div class="kit-dropdown-button">
	
	
	<div class="button" click-link="/keyframes90">
	  What are the ways to access Hibernate by using Spring?
	</div>
  </div>
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes93">
  ORM’s Spring support
	</div>
	
	
  </div>
  
  <div class="kit-dropdown-button" click-link="/keyframes96">
	
	
	
  <div class="button">How can we integrate Spring and Hibernate using HibernateDaoSupport?
	  
	  
	</div>
  </div>
  
  

  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes102">
	  
	  What is the difference between concern and cross-cutting concern in Spring AOP
	  
	  
	  </div>
  </div>
  
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes105">



	  What are the benefits of the Spring Framework’s transaction management?
	  

	</div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes108">



	  Which Transaction management type is more preferable?

	</div>
  </div>

  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes112">



	  What is Controller in Spring MVC framework?
	</div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes115">



	  Controller annotation
	  
	  </div>
  </div>
  
  -->
  
  
</div>

