<div class="Home" id="content">
    

  <div class="kit-dropdown-button closed">
	<div class="button" click-link="/keyframes3">
	  Ice cream Parlor
	  
	  </div>

  </div>
  
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes9">
	  
  Big Integer
	  </div>
  </div>
  


  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes12">
	
	  
  Big Decimal
	  </div>
  </div>
  
  

  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes15">
  Java HashSet
	  </div>
  </div>
  


  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes18">
	 
	  
	  Java Map
	  
	  </div>
  </div>
  
  
  

  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes24">

	  Java Comparator
	  

	</div>
  </div>
  
  
  
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes27"> 
	  Java Generics
	  
	  </div>
  </div>
  
  
  
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes30">
	  
	  Java Sort
	  
	  
	</div>
  </div>
  

  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes33">
	  Strange Counter
	  
	  
	  </div>
  </div>
  
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes36">
  Viral Advertising
	</div>
	
  </div>
  
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes39">
	  
	  Diagnol Difference
	  
	  
	</div>
	
  </div>
  
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes42">
  
	  Time Conversion
  
	  
	</div>
	
	
  </div>
  
  
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes45">
	  
	  Stair Case
	  
	</div>
	
  </div>
 
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes48">
	  Simple Array Sum
	  
	  </div>
	
  </div>
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes51">
	  Chocalate Feast
  </div>
	
  </div>
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes54">
  
	  Library Fine
	  </div>
	
	
	
  </div>
  
	
  <div class="kit-dropdown-button">
  <div class="button" click-link="/keyframes57">
  Cut the Sticks
  
  </div>
  </div>
  

  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes60">
  Insertion Sort
  </div>
  </div>
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes63">
	  
	  Camel Case
	</div>
  </div>
  
  
	
	<div class="kit-dropdown-button">
	  <div class="button"  click-link="/keyframes66">
  Alternating Characters
		
	  
	  
	  
	</div>
  </div>
  
  
  <div class="kit-dropdown-button">
	<div class="button"  click-link="/keyframes72">

  Save The prisoner
  
	</div>
  </div>
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes75">
	  
  Very Big Sum
	  </div>
  </div>
  
  
  <div class="kit-dropdown-button">
	
	
	<div class="button" click-link="/keyframes78">
	  
  Plus Minus
  </div>
	
  </div>
  
  
  <div class="kit-dropdown-button"  >
	
	<div class="button" click-link="/keyframes81">
	
  Find Prefix
	
	</div>
	
  </div >
  
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes84">
	  
  Funny Strings
	</div>
	
	
	
  </div>
  
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes87" > 
  Alternating Characters
	  </div>
	
  </div>
  
  <div class="kit-dropdown-button">
	
	
	<div class="button" click-link="/keyframes90">
	  Camel Case
	  </div>
  </div>
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes93">
  Gems Stones
	</div>
	
	
  </div>
  
  <div class="kit-dropdown-button" click-link="/keyframes96">
	
	
	
  <div class="button">
	Beautiful Binary string
	
	</div>
  </div>
  
 
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes102">
	  
	  Pangrams
	  </div>
  </div>
  
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes105">



	  Pattern Syntax checker

	</div>
  </div>
  
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes108">



	  Tag Content Extractor
	  
	</div>
  </div>

  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes112">

Calculating Volume

	  
	  </div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes115">



	  Java Interface
	  
	  </div>
  </div>
  
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes118">



	  Java Iterator

	</div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes121">



	  Java Instance of

	</div>
  </div>
  


  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes124">



	  Java Method Overriding

	</div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes127">



	  Java Abstract Class

	</div>
  </div>
  


  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes130">



	  Java Inheritance

	</div>
  </div>



  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes133">



	  Java Stack

	</div>
  </div>



  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes136">



	  Java Deque

	</div>
  </div>

  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes139">



	  Java ArrayList

	</div>
  </div>

  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes142">



	  Java Reflection

	</div>
  </div>


  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes145">



	  Java 2 D Array

	</div>
  </div>


  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes148">



	  Java 1 D Array

	</div>
  </div>



  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes151">



	  Java 1 D Array Hard

	</div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes154">



	  Java String Compare

	</div>
  </div>


  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes157">



	  Java String Anagrams

	</div>
  </div>

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes160">



	  Java Regex

	</div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes163">



	  Java String Reverse

	</div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes166">



	  Java String 

	</div>
  </div>

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes169">



	  Java String Token

	</div>
  </div>


  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes172">



	  Java Annotations

	</div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes175">



	  Flowers

	</div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes178">



	  Priyanka And Toys

	</div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes181">



	 Love letter Mystery

	</div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes184">



	  Angry Professor

	</div>
  </div>
  


  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes187">



	  Lisa Workbook

	</div>
  </div>

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes190">



	 Apple and Orange
	</div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes193">



	  Beautiful day at movies
	</div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes196">



	  Mini Max Sum
	  
	</div>
  </div>

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes199">



	  Matrix layer rotation

	</div>
  </div>

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes202">



	  Bomber Game

	</div>
  </div>


  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes205">



	 Encryption

	</div>
  </div>


  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes208">



	  Extra long factorial

	</div>
  </div>
  


  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes211">



	 Divisible sum pairs

	</div>
  </div>


  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes214">



	  Jumping on the clouds

	</div>
  </div>


  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes217">



	  Bon Appetit

	</div>
  </div>


  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes220">



	  Sherlock And Beast

	</div>
  </div>

  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes223">



	  Jumping on clouds revisted

	</div>
  </div>
  


  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes226">



	  Kangaroo

	</div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes229">



	Service Lane
	

	</div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes232">



	  Repeated String


	</div>
  </div>


  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes235">



	  Ceasar Cipher


	</div>
  </div>

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes238">

	  
	  Cavity map


	</div>
  </div>

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes270">


	  Taum and Birth day


	</div>
  </div>

  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes273">


	  Pairs


	</div>
  </div>


  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes276">


	  Mark And Toys


	</div>
  </div>
  


  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes279">


	  Two Arrays


	</div>
  </div>


  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes282">


	  Lonely Integer


	</div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes285">


	  Insertion Sort


	</div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes288">


	  Sherlock and Pairs


	</div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes291">


	  Java Method Overriding 2


	</div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes294">


	  Java Inheritance  2


	</div>
  </div>
  
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes297">


	  Java Exception Handling


	</div>
  </div>

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes300">


	  Java Exception Handling Try Catch


	</div>
  </div>


  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes303">


	  Java Data Types


	</div>
  </div>


  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes306">


	  Java EOF


	</div>
  </div>
  


  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes309">


	  Java Loops


	</div>
  </div>


  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes312">


	  Java Regex 2


	</div>
  </div>


  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes315">


	  Java Regex 3


	</div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes318">


	  Sum Of obsolutes


	</div>
  </div>
  


  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes321">


	  Mars Exploration


	</div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes324">


	  Java Lambda Expression


	</div>
  </div>


  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes327">


	  Java single ton


	</div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes330">


	  Serve the students


	</div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes333">


	 Covariant return types


	</div>
  </div>
  
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes336">


	  Maximum and Minimum


	</div>
  </div>
  


  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes339">


	  Java Primality Test


	</div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes342">


	  Compare the Triplets


	</div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes345">


	  Perfect Hiring


	</div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes348">


	  Encryption Module


	</div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes351">


	  Misery of Jar Jar Binks


	</div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes360">


	  Hacker Rank Tournament


	</div>
  </div>
  

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes363">


	  The Ultimate Question


	</div>
  </div>

  <div class="kit-dropdown-button">

	<div class="button" click-link="/keyframes366">


	 Fraudulant Activity notifications
	 
	</div>
  </div>
  

  
  
</div>

