<div class="Home" id="content">
    

  <div class="kit-dropdown-button closed">
	<div class="button" click-link="/keyframes3">Binary Search</div>

  </div>
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes9">Bubble Sort</div>
  </div>
  


  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes12">
	Quick Sort
	  
	  </div>
  </div>
  
  

  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes15">
	  Selection Sort  </div>
  </div>
  


  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes18">
	 
	  
	  Queue
	  
	</div>
  </div>
  
  

  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes24">

	 Singly Linked List


	</div>
  </div>
  
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes27"> 
	  Stack
	  
	  </div>
  </div>
  
  
  
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes30">
	  LCM
	</div>
  </div>
  

  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes33">
	  Merge Sort
	</div>
  </div>
  
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes36">
	 Count Primes
	  
	</div>
	
  </div>
  
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes39">
	  Find the difference
	  
	</div>
	
  </div>
  
  
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes42">
	 Happy Number
	  
	</div>
	
	
  </div>
  
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes45">
	  
	  Integer to Roman
	  
	  
	</div>
	
  </div>
 
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes48">
	  Largest Number
	  
	</div>
	
  </div>
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes51">
	 Nth digit
	</div>
	
  </div>
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes54">
	 Perfect Number
	</div>
	
	
	
  </div>
  
  
	
  <div class="kit-dropdown-button">
  <div class="button" click-link="/keyframes57">
Reverse Integer
	
  </div>
  </div>
  

  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes60">
	  Target Sum

	</div>
  </div>
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes63">
	  
	 Ugly Number
	  
	</div>
  </div>
  
  
	
	<div class="kit-dropdown-button">
	  <div class="button"  click-link="/keyframes66">
		Valid Anagram
		
		
	  
	  
	  
	</div>
  </div>
  
  
  
  <div class="kit-dropdown-button">
	<div class="button"  click-link="/keyframes69">
	  
	  Two Sum

	</div>
  </div>
  
  
  <div class="kit-dropdown-button">
	<div class="button"  click-link="/keyframes72">

	  Reverse String

	</div>
  </div>
  
  
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes75">
	  
	  Remove Element
	</div>
  </div>
  
  
  <div class="kit-dropdown-button">
	
	
	<div class="button" click-link="/keyframes78">
	  
	  Count Ones
	</div>
	
  </div>
  
  <div class="kit-dropdown-button"  >
	
	<div class="button" click-link="/keyframes81">
	
	Add Without Operator
	
	</div>
	
  </div >
  
  
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes84">
	  
	  Reverse Bits
	  
	</div>
	
	
	
  </div>
  
  
  
  <div class="kit-dropdown-button">
	
	<div class="button" click-link="/keyframes87" > 
	  
	  Summary Ranges

	  
	  
	  </div>
	
  </div>
  
  
  <div class="kit-dropdown-button">
	
	
	<div class="button" click-link="/keyframes90">
	  
	  Longest Non repeat
	  
	</div>
  </div>
  
  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes93">
	  Max depth of tree
	</div>
	
	
  </div>
  
  

  <div class="kit-dropdown-button">
  <div class="button" click-link="/keyframes96">
  
	Path Sum
  </div>


  </div>
 

  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes99">

	  Three Sum
	</div>


  </div>

  <div class="kit-dropdown-button">
	<div class="button" click-link="/keyframes102">

	 Bytes to Int conversion
	</div>


  </div>
  

</div>
  
  
  
   
