
<div class="content" 
  style="font-family:Times New Roman;font-size:1.5em;background-color:white;" align="center">


  <div style="color:blue;">
	<br><p style="color:red;"> What is Spring Java-Based Configuration? Give some annotation example.
	  
	</p>





		<br>Java based configuration option enables you to write most of your Spring configuration without XML but with the help of few Java-based annotations.
	<br>An example is the @Configuration annotation, that indicates that the class can be used by the Spring IoC container as a source of bean definitions. Another example is the@Bean annotated method that will return an object that should be registered as a bean in the Spring application context.
  </div>






































</div>










 


 


 








 











