
<div class="content" 
  style="font-family:Times New Roman;font-size:1.5em;background-color:white;" align="center">


  <div style="color:blue;">
	<br><p style="color:red;"> What is Annotation-based container configuration?
	  
	</p>




	
	An alternative to XML setups is provided by annotation-based configuration which relies on the bytecode metadata for wiring up components instead of angle-bracket declarations. Instead of using XML to describe a bean wiring, the developer moves the configuration into the component class itself by using annotations on the relevant class, method, or field declaration.
	  
	  </div>






































</div>










 


 


 








 











