<div class="content" style="font-size:1.5em;background-color:white;
  font-family:Times New Roman" 
  >
  <p style="color:black">
	
	$40m is a pittance.

	You're making a common mistake, made by many who haven't actually attempted such a thing. Wikipedia is - in your words - "just text". You can run "just text" on any old computer. Sure, all you need is a bit of money for hosting and OH MY GOD YOU HAVE NO IDEA HOW WRONG YOU ARE.

	*deep breath*

	Ok, let's assume you're now in charge of Wikipedia. How might you get it in the hands of 500 million people each month?

	First, you're going to need hosting. This isn't a service you can pick up from GoDaddy (this pic is 3 years old but you get the idea):
	
  </p>
  <br>
  
  <img src="" />
	
	<br>
	  
  <p style="color:black">
	
	Notice you have hundreds if not thousands of computers. They're interconnected in complex and novel ways - ways that require teams of experts to design and build. 

	Now imagine that all the above parts are constantly changing, breaking and under attack. All. The. Time.

	All your computers will eventually die. All will need patching to stay secure. This isn't your home laptop. You can't just take down all of Wikipedia to run Windows Update every night. 

	Have you got a plan for that? To create and maintain one you'll need a team of experts around the world, and such people usually don't work for llama beans.

	Now think of your software. Your software has to work in three hundred languages. Have you ever tried changing a program that has to work in three hundred languages? It goes a little like this:

	"I'll just add this checkbox to our software. It'll only take 5 minutes!"

	5 minutes of coding.

	"That was easy!"

	Except now that feature needs testing in 27 different browsers, where you'll learn it doesn't work on Windows 7 Coal-Powered Edition, and you forgot to support pink Blackberry phones and oh, yeah, it needs a team of people to translate into 300 different languages.

	Testing is a feat in itself. Something that seems to work fine when 5 people test it can obliterate your infrastructure when 5 million people are using it. Scaling technology is hard. That's why every big site from Twitter to Quora to Facebook experienced constant downtime in their early years, because the best brains in the business still agonise over how to make websites work when they get that popular.

	Of course, we haven't actually dealt with the business of running Wikipedia itself. A community used by half a billion people needs constant policing. It needs quality control, PR, HR, accounts, policies, and hard working people to raise the paltry $40m a year it costs to run from cynical folk who know the price of everything and the value of nothing. 

	For about 0.05% of the US education budget, running as a non-profit, Wikipedia educates HALF A BILLION PEOPLE EACH MONTH. Think about that.

	Frankly, we should be petitioning Jimmy Wales to run Planet Earth, because I'm pretty sure he'd do a better job than the rest of us. 

	Jimmy for President, anyone?
	257.9k Views · 
	
  </p>
  
  </div>
