
<div class="content" 
  style="font-family:Times New Roman;font-size:1.5em;background-color:white;" align="center">


  <div style="color:blue;">
	<br><p style="color:red;"> How can we integrate Spring and Hibernate using HibernateDaoSupport?
	  
	
	</p>







	
	<br>Use Spring’s SessionFactory called LocalSessionFactory. The integration process is of 3 steps:
	<br>Configure the Hibernate SessionFactory
	<br>Extend a DAO Implementation from HibernateDaoSupport
	<br>Wire in Transaction Support with AOP

  </div>






































</div>










 


 


 








 











