<div class="content" 
  style="font-family:Times New Roman;font-size:1.5em;background-color:white;" align="center">


  <div style="color:blue;">
	<br><p style="color:red;"> What is the difference between concern and cross-cutting concern in Spring AOP


	</p>







	<br>The Concern is behavior we want to have in a module of an application. A Concern may be defined as a functionality we want to implement.
	<br>	The cross-cutting concern is a concern which is applicable throughout the application and it affects the entire application. For example, logging, security and data transfer are the concerns which are needed in almost every module of an application, hence they are cross-cutting concerns.




  </div>







</div>
