<div class="content" align="center" 
  style="background-color:white;font-style:Times New Roman;
  font-size:1.5em;">
  <p style="color:blue;">A consistent, focused philosophy of saying no, focusing on the right things and building distinct products that people want. 
  </p>
  
  <br>
	
  <p style="color:blue;">1. Consistency</p>
	
  <br>
  <p>The reason Apple announcements are so widely anticipated is because they've consistently done things in the past that got people excited. They've made mistakes of course, but their batting average is staggering: in just one decade they introduced the iPod, iTunes, iPhone and iPad. This consistency was made possible by</p>
  <br>
  <p>2. Focus</p>
  
  <br>
  <p>That's unheard of in the electronics industry: Sony had more varieties of Walkman than Apple has products in total. The first thing Jobs did on his re-appointment was reduce Apple's computing line to just four models (2 desktops, 2 laptops), aiming to make each 'best in class'. This relentless focus comes from:</p>
  <br>
	
  <p style="color:blue;">3. Saying no.</p>
	
  
  <br>
	<p>
	  Since the second Jobs era, Apple has made a habit out of saying no. It pisses people off, but their Zen-like adherence to only doing a few things gives them the focus to make them better. Jobs said this to Nike's CEO</p>
	  <br>
  <p>"Nike makes some of the best products in the world. Products that you lust after. But you also make a lot of crap. Just get rid of the crappy stuff and focus on the good stuff."</p>
  <br>
  <p>Most large companies traditionally succumb to demands to diversify - it's not hard to imagine demand for a MacBook in different colours, say. Instead, Apple works towards</p><br>
  <br>
	<p style="color:blue;">

	  4. Choosing the right things</p>
	  
	  <br>
  <p>Many of Apple's best choices were widely criticised at the time, but later proved to be insightful. For example, iOS launched with a seemingly primitive 'one app at a time' multitasking model. Apple decided that the benefits (better battery life, simplicity of use) outweighed the cons (less potential for power users). Likewise for not supporting Flash, having non-removable batteries, a single locked-down App store and dropping floppy drives. The entire philosophy of iOS is built around making a computer that a grandmother could use without issue - installing an app is a two tap process, viruses are non-existent - and that's only possible because they made other, tough decisions. The fact that most of the industry argued these decisions were wrong (before ultimately copying them) shows you how powerful these decisions were - Apple had an unusual connection with what customers really wanted, not what experts thought they did. Which lead to:</p>
  <br>
  <p style="color:blue;">5. Distinction</p>
  <br>
  <p>Apple's official slogan used to be Think Different, and not without reason. Their products stand out amongst a sea of rivals: bold and unique. At the time of their launch, compare the first iMac:</p>
  <br>
  <p>Distinction by itself is not necessarily a virtue, but Apple's distinction was in making the right decisions and thereby inciting:</p>
  <br>
	
  <p style="color:blue;">6. Desirability</p>
  <br>
	<p>
	Apple is a master of creating things that people want. It's an oft overlooked business maxim that:

	Product Desirability = Profitability 

	  Through a remarkable fusion of consistency, focus, saying no, choosing the right things and distinctive products, Apple has built a brand cachet that any company would kill for. But ultimately, it's really simple: people want their products.  </p>
	    <br>
		  
  <p style="color:blue;">One more thing</p>
  <br>
  <p>Most tech companies focus - understandably - on tech. Apple built their success on artistic values. To make great art, you focus on what you're passionate about. Your work gets people excited. You make decisions that piss some people off because the otherwise your art is a slurry of mediocrity. No good artist surrenders to groupthink or is led by committee. And I believe this artistic ethos is at the core of Apple's DNA. </p>
  <br>
  <p>
	All this also points the way for Apple's potential downfall. If they succumb to pressure they might start diversifying, saying yes to more, losing focus. As rivals get better at copying, they risk losing their distinction - and a lot of their lauded unique wisdom is becoming mainstream now. With screwups like Apple Maps, they injure their once unassailable brand. </p>
	<br>
  <p>Despite all this, in 2012, Apple remain one of a kind. Just over a decade ago they were almost bankrupt. Whatever success they have, they earned it. 
  </p>
    <br>
	  
		  
  </div>
