<div class="content" style="color:white;font-size:1.5em;background-color:white ;word-spacing: normal;" >
  
  
  <p style="color:black;font-family:Times New Roman;">
	I'll answer your question, but first I need to explain all of human civilisation in 2 minutes with the aid of a cartoon snake.

	Humans like to think we're a clever lot. Yet those magnificent, mighty brains that allow us to split the atom and touch the moon are the same stupid brains that can't start an assignment until the day before it's due.

	We evolved from primitive creatures, but we never quite shed ourselves of their legacy. You know the clever, rational part of your brain you think of as your human consciousness? Let's call him Albert. He lives in your brain alongside an impulsive baby reptile called Rex:

	</p>
<br>

  <img src="rex.png" />
	
	<br>
  <p style="color:black">
	
	You know how you can't help but notice if a stranger is tongue-wettingly gorgeous? That's Rex, and no matter how hard you try, you can never turn him off. He's your instinct, your impulse, your love and your fear.  

	We like to think of Albert as "our true self" - the conscious part of our brain. He's the talking, reasoning part. When we decide to go to the gym or write that term paper, Albert made that decision. But Albert is old, easily exhausted, and switches off all the time. 

	Your brain is locked in a battle of wills between a sleepy professor and an impulsive reptile with unlimited energy. You may as well hand Rex the steering wheel. 
	
	
	
  </p>
  <br>
  <img src="car.png" />
 <br>
   
  <p style="color:black">
	Rex does listen to Albert. Like a child, he will do a lot of what he's told, as long as he doesn't disagree too much. But if Rex desperately yearns to crash on the sofa to watch Survivor and eat Cheetos, that's what you're going to do.

	The incredible ascension of mankind that surrounds us is largely possible because we've developed systems to nurture the Rex's in our brains, to subdue, soothe and subvert them. 

	Much of this system we call "civilisation". Widely available food and shelter take care of a lot. So does a system of law, and justice. Mandatory education. Entertainment. Monogamy. All of it calms Rex down for long enough for Albert to do something useful - like discover penicillin, or invent Cheetos. 
	
	
	
  </p>
  
  <img src="banana.png">
	
  <p style="color:black">

	Now let's look at your procrastination.

	You're making a decision with your conscious mind and wondering why you're not  carrying it out. The truth is your daily decision maker - Rex - is not nearly so mature.

	Imagine you had to constantly convince a young child to do what you wanted. For simple actions, asserting your authority might be enough. "It's time for dinner". But if that child doesn't want to do something, it won't listen. You need to cajole it:

	Forget logic. Once you've decided to do something, logic and rationale won't help you. Your inner reptile can be placated, scared and excited. But it doesn't speak with language and cannot be reasoned with.
	Comfort matters. If you're hungry, tired or depressed your baby reptile will rebel. Fail to take care of yourself, and he'll wail and scream and refuse to do a damn thing you say. That's what he's for. Eat, sleep and make time for fun.
	Nurture discipline. Build a routine of positive and negative reinforcement. If you want a child to eat their vegetables, don't give them dessert first. Reward yourself for successes, and set up assured punishments for your failure. Classic examples include committing to a public goal, or working in a team - social pressure can influence Rex.  
	Incite emotion. Your reptile brain responds to emotion. That is its language. So get yourself pumped, or terrified. Motivational talks, movies and articles can work, for a while. I use dramatic music (one of my favourite playlists is called Music to conquer worlds by). Picture the bliss associated with getting something done, or the horrors of failing. Make your imagination vivid enough that it shakes you. We use similar tricks on children for a reason: "brush your teeth or they'll fall out".
	Force a start. The most important thing you can do is start. Much of Rex's instincts are to avoid change, and once you begin something those instincts start to tip into your favour. With enough time, you can even convince Rex to love doing the things he hated. There's a reason we force kids to go to school or to try piano lessons.
	Bias your environment. Rex is short sighted and not terribly bright. If he sees a Facebook icon, he'll want it. It's like showing a child the start of a cool TV program immediately before bedtime. Design your environment to be free from such distractions: sign out of instant messenger, turn off notifications, turn off email. Have separate places for work and fun, and ideally separate computers (or at least accounts).

	Once you know what to look for, you'll start to recognise the patterns and control them.

	There's an impulsive baby reptile in your brain, and unfortunately he has the steering wheel. If you can be a good parent to him he'll mostly do what you say, and serve you well. Just remember who's in charge.
	
	
  </p>
	
</div>


<!--
    <div class="kit-css-editor wrapped">
        <div class="line">
            <span class="prop-name">background-image:</span> <span
                class="prop-value">url(../img/spiral.png);</span>
        </div>
        <div class="line">
            <span class="prop-name">-webkit-animation:</span> <span
                class="prop-value">spiral-rotation 5s infinite linear;</span>
        </div>

        <div class="selector-wrapper">
            <div class="selector">@-webkit-keyframes spiral-rotation {</div>
            <div class="line">
                <span class="prop-name">0% { <br/>-webkit-transform:</span> <span
                    class="prop-value">rotateZ(0deg);</span><br/><span class="prop-name">}</span>
            </div>
            <div class="line">
                <span class="prop-name">100% { <br/>-webkit-transform:</span> <span
                    class="prop-value">rotateZ(359deg);</span><br/><span class="prop-name">}</span>
            </div>
            <div class="selector">}</div>
        </div>
    </div>
    <div class="spiral"></div>
	-->

