
<div class="content" 
  style="font-family:Times New Roman;font-size:1.5em;background-color:white;" align="center">


  <div style="color:blue;">
	<br><p style="color:red;"> What are the ways to access Hibernate by using Spring?
	  
	</p>







	
	<br>There are two ways to access Hibernate with Spring:
	<br>Inversion of Control with a Hibernate Template and Callback.
	<br>Extending HibernateDAOSupport and Applying an AOP Interceptor node.
  </div>






































</div>










 


 


 








 











