
<div class="content" 
  style="font-family:Times New Roman;font-size:1.5em;background-color:white;" align="center">


  <div style="color:blue;">
	<br><p style="color:red;"> Spring DAO support
	  
	</p>






	
	The Data Access Object (DAO) support in Spring is aimed at making it easy to work with data access technologies like JDBC, Hibernate or JDO in a consistent way. This allows us to switch between the persistence technologies fairly easily and to code without worrying about catching exceptions that are specific to each technology.
	
	</div>






































</div>










 


 


 








 











